<div
  class="p-8 max-w-5xl m-auto touch-manipulation select-none"
  (dblclick)="$event.preventDefault()"
>
  <div>
    <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center">
      Whack A Mole
    </h1>
  </div>

  <div class="flex flex-col md:flex-row gap-4 mt-8">
    <div
      class="stats outline-1 outline-black/5 stats-horizontal md:stats-vertical shadow w-full md:w-[200px] lg:w-[220px] shrink-0"
    >
      <div class="stat">
        <div class="stat-title text-[10px] lg:text-xs">
          Total Mole Your Whacked
        </div>
        <div class="stat-value text-xl lg:text-3xl">{{ score$ | async }}</div>
        <div class="stat-desc text-[10px] lg:text-xs">
          Highest score: {{ hightScore$ | async }}
        </div>
      </div>

      <div class="stat">
        <div class="stat-title text-[10px] lg:text-xs">Time remained</div>
        <div class="stat-value text-xl lg:text-3xl">
          <ng-container *ngIf="{ timeLeft: timeLeft$ | async } as data">
            {{ data.timeLeft | remainingTime }}
          </ng-container>
        </div>
        <div class="stat-desc">
          <button
            #start
            class="btn btn-primary btn-sm"
            [disabled]="disabledStartButton$ | async"
          >
            Start
          </button>
        </div>
      </div>
    </div>

    <!-- Game -->

    <div class="grid grid-cols-3 grid-rows-2 gap-3 bg-base-200 flex-1">
      <div
        class="flex justify-center items-end basis-3xs after:bg-[url('/assets/images/dirt.svg')] after:bg-cover after:bg-no-repeat after:bg-top after:top-[130px] sm:after:bg-top sm:after:top-[118px] md:after:bg-top md:after:top-[118px] lg:after:top-[104px] overflow-hidden after:absolute after:left-0 after:bottom-0 after:right-0 relative h-40"
        #hole1
      >
        <div
          class="flex justify-center items-end h-[50%] sm:h-[60%] md:h-[65%] lg:h-[70%] w-full relative"
        >
          <div
            app-mole-item
            #mole1
            class="w-max h-full absolute top-full transition-all ease-[ease] duration-[0.4s] transition-normal"
          ></div>
        </div>
      </div>
      <div
        class="flex justify-center items-end basis-3xs after:bg-[url('/assets/images/dirt.svg')] after:bg-cover after:bg-no-repeat after:bg-top after:top-[130px] sm:after:bg-top sm:after:top-[118px] md:after:bg-top md:after:top-[118px] lg:after:top-[104px] overflow-hidden after:absolute after:left-0 after:bottom-0 after:right-0 relative h-40"
        #hole2
      >
        <div
          class="flex justify-center items-end h-[50%] sm:h-[60%] md:h-[65%] lg:h-[70%] w-full relative"
        >
          <div
            app-mole-item
            #mole2
            class="w-max h-full absolute top-full transition-all ease-[ease] duration-[0.4s] transition-normal"
          ></div>
        </div>
      </div>
      <div
        class="flex justify-center items-end basis-3xs after:bg-[url('/assets/images/dirt.svg')] after:bg-cover after:bg-no-repeat after:bg-top after:top-[130px] sm:after:bg-top sm:after:top-[118px] md:after:bg-top md:after:top-[118px] lg:after:top-[104px] overflow-hidden after:absolute after:left-0 after:bottom-0 after:right-0 relative h-40"
        #hole3
      >
        <div
          class="flex justify-center items-end h-[50%] sm:h-[60%] md:h-[65%] lg:h-[70%] w-full relative"
        >
          <div
            app-mole-item
            #mole3
            class="w-max h-full absolute top-full transition-all ease-[ease] duration-[0.4s] transition-normal"
          ></div>
        </div>
      </div>
      <div
        class="flex justify-center items-end basis-3xs after:bg-[url('/assets/images/dirt.svg')] after:bg-cover after:bg-no-repeat after:bg-top after:top-[130px] sm:after:bg-top sm:after:top-[118px] md:after:bg-top md:after:top-[118px] lg:after:top-[104px] overflow-hidden after:absolute after:left-0 after:bottom-0 after:right-0 relative h-40"
        #hole4
      >
        <div
          class="flex justify-center items-end h-[50%] sm:h-[60%] md:h-[65%] lg:h-[70%] w-full relative"
        >
          <div
            app-mole-item
            #mole4
            class="w-max h-full absolute top-full transition-all ease-[ease] duration-[0.4s] transition-normal"
          ></div>
        </div>
      </div>
      <div
        class="flex justify-center items-end basis-3xs after:bg-[url('/assets/images/dirt.svg')] after:bg-cover after:bg-no-repeat after:bg-top after:top-[130px] sm:after:bg-top sm:after:top-[118px] md:after:bg-top md:after:top-[118px] lg:after:top-[104px] overflow-hidden after:absolute after:left-0 after:bottom-0 after:right-0 relative h-40"
        #hole5
      >
        <div
          class="flex justify-center items-end h-[50%] sm:h-[60%] md:h-[65%] lg:h-[70%] w-full relative"
        >
          <div
            app-mole-item
            #mole5
            class="w-max h-full absolute top-full transition-all ease-[ease] duration-[0.4s] transition-normal"
          ></div>
        </div>
      </div>
      <div
        class="flex justify-center items-end basis-3xs after:bg-[url('/assets/images/dirt.svg')] after:bg-cover after:bg-no-repeat after:bg-top after:top-[130px] sm:after:bg-top sm:after:top-[118px] md:after:bg-top md:after:top-[118px] lg:after:top-[104px] overflow-hidden after:absolute after:left-0 after:bottom-0 after:right-0 relative h-40"
        #hole6
      >
        <div
          class="flex justify-center items-end h-[50%] sm:h-[60%] md:h-[65%] lg:h-[70%] w-full relative"
        >
          <div
            app-mole-item
            #mole6
            class="w-max h-full absolute top-full transition-all ease-[ease] duration-[0.4s] transition-normal"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="{ delayGameMsg: delayGameMsg$ | async } as data">
    <div
      role="alert"
      class="alert alert-horizontal mt-5"
      *ngIf="data.delayGameMsg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-info h-6 w-6 shrink-0"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <div>
        <h3 class="font-bold">
          {{ data.delayGameMsg | whackAMoleMessage }}
        </h3>
      </div>
    </div>
  </ng-container>
</div>
<audio [src]="soundUrl" #snap hidden></audio>
<audio [src]="soundUrlBackgroundGame" #soundBgGame hidden></audio>
