<div class="w-full h-screen">
  <div class="flex justify-center items-center h-full">
    <div
      class="grid grid-cols-3 grid-rows-3 gap-4 w-full max-w-[300px] h-[300px]"
    >
      <div class="bg-pink-300"></div>
      <div class="bg-pink-300"></div>
      <div class="bg-pink-300"></div>
      <div class="bg-pink-300"></div>
      <div class="bg-pink-300"></div>
      <div class="bg-pink-300"></div>
      <div class="bg-pink-300"></div>
      <div class="bg-pink-300"></div>
      <div class="bg-pink-300"></div>
    </div>
  </div>
</div>
